[submodule "confluence-ib"]
	path = confluence-ib
	url = https://repo1.dso.mil/dsop/atlassian/confluence-data-center/confluence.git
[submodule "confluence-lts-ib"]
	path = confluence-lts-ib
	url = https://repo1.dso.mil/dsop/atlassian/confluence-data-center/confluence-lts.git
